@import url('./styles/core/index.css');
@import url('./styles/components/index.css');

/* Variables globales */
:root {
  --color-primary: #2563eb;
  --color-secondary: #9333ea;
  --color-neutral: #6b7280;
  --color-white: #ffffff;
  --color-black: #000000;

  --font-sans: 'Inter', Arial, sans-serif;
  --font-serif: 'Merriweather', Georgia, serif;
}
a,
link {
  text-decoration: none;
}

a:hover,
link:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 3px;
  transition: all 0.8s ease;
}

.infinite-scroll {
  position: absolute;
  width: 120%;
  height: 164.18px;
  overflow: hidden;
  z-index: 1;
}

.infinite-scroll-1 {
  top: 10%;
  transform: rotate(10.8deg);
}

.infinite-scroll-2 {
  bottom: 10%;
  transform: rotate(-10.8deg);
}

.scroll-track {
  display: flex;
  width: 200%;
  height: 100%;
  animation: infiniteScroll 20s linear infinite;
}

.infinite-scroll-2 .scroll-track {
  animation: infiniteScrollReverse 25s linear infinite;
}

.scroll-track img {
  width: 164.18px;
  height: 164.18px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 8px;
  margin-right: 1rem;
}

@keyframes infiniteScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes infiniteScrollReverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.button-link {
  background: #ffffff;
  border: 2px solid #000;
  color: #000;
  border-radius: 0.5rem;
  transition: background 0.2s, color 0.2s;
  text-decoration: none;
  display: inline-block;
}
.button-link:hover,
.button-link:focus {
  background: #ffffff;
  color: #fff;
  background-color: #000000;
  border-color: #ffffff;
}
