/* mobile first */
.productImage {
  min-height: 600px;
}
.productInfos {
  padding-bottom: 30px;
}
.productReco {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.productRecoImg {
  min-height: 400px;
}

.icons > img {
  width: 25px;
  height: 25px;
}

/* desktop */
@media (min-width: 1024px) {
  .containerConfig {
    display: flex;
  }
  .sideRight {
    padding: 0px 60px 60px 60px;
  }

  .productImage {
    max-width: 50%;
    height: 100%;
  }
  .recommendations {
    flex-direction: row;
    gap: 30px;
    padding-bottom: 60px;
  }

  .productRecoImg {
    width: 400px;
    height: 300px;
  }
}
